#highPriorityContainer {
  border-radius: 5px;
  height: 200px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 3px solid red;
}

#lowPriorityContainer {
  border-radius: 5px;
  height: 200px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 3px solid rgb(25, 191, 53);  
}

#deadlineCrossedContainer {
  border-radius: 5px;
  height: 200px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 3px solid rgb(158, 15, 15);
}

.input-container {
  display: flex;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border-style: solid;
}

.input-container button {
  background-color: #4caf50;
  color: #fff;
  border-style: solid;
  border-radius: 3px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#delButton, #strikeButton {
  background-color: #4caf50;
  color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.todo-list {
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;    
}

.container {
  max-width: 550px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 40%,
    rgba(0, 212, 255, 1) 60%,
    rgba(9, 9, 121, 1) 80%,
    rgba(2, 0, 36, 1) 100%);
  pointer-events: none;
  z-index: -1;
}

.delete-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff3333;
}

.delete-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}