* {
    font-family: Poppins, Calibri;
}

section {
    border: 2px solid red;
}

.about {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid burlywood;
    padding: 10px;
    margin: 1px 10px;
    margin-bottom: 0;
}

/* .about:hover {
    box-shadow: 10px 10px 10px rgba(184, 134, 11, 0.9);
} */

h1 {
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 15px;
    color: #666666;
    line-height: 25px;
    text-align: justify;
}

.about h1 {
    color: #DD9933;
}

.vision {
    background-color: lavender;
    border-radius: 10px;
    border: 2px solid sienna;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.vision h1 {
    color: #800000;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background-color: #DD9933;
    margin: 0;
    padding: 10px;
}

header h1 {
    text-align: right;
    color: white;
    background-color: #800000;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.nav a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.nav a:hover {
    text-decoration: underline;
    text-decoration-color: #DD9933;
}